div{
    color: white;
}

body{
    background-image: url("image/fone1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.header{
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
    min-height: 70px   ;
    z-index: 100;
}

.header_Text {
    vertical-align: middle;
    display: inline-block;
    width: 40%;
}

.header_TextPosition {
    display: block;
    text-align: center
}

.header_TextFont-size {
    font-size: 21px ;
}

a {
    color: white;
    text-decoration: none;
}
A:hover {
    color: red; /* Ссылка красного цвета */
}

.header_Link {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 13px;

}

.headline {

    text-align: center;
    vertical-align: center;
    height: 70vh;
    width: 100%;
}

.headline_Position {
    margin: auto;
    position: absolute;
    top:30%;
    left:32%;
}

.headline_FirstText {
    background-color: #d13f4a;
    display:inline;
    padding: 3px 15px 3px 15px;

}
.headline_SecondlyText {
    margin-top: 2px;
    margin-bottom:5px;
    background-color: black;
    font-size: 25px;
    font-family: "Clarendon w", serif;
    padding: 10px;
}

.headline_ThirdText {
    background-color: rgba(0,0,0,0.5);
    display: inline;
    padding:10px;

}

.feed {
    width: 100%;
    height: 700px;
}

.feed_Size {
    margin:auto;
    width: 70%;
    min-height: 700px;
    display: grid;
    grid-template-columns: 23fr 10fr;
}


.feed_news {
    margin: 0;
    background-color: rgba(255,255,255,1);
}

.feed_LatestNewsSize {
    width: 100%;

}

.feed_LatestNews {
    background-color: #f3f3f3;
    color : #949494;
    padding: 10px;
    margin: 5px;
    border-right-color: red;
    border-right-style: solid;
    border-right-width: 2px;
}

.feed_OneNewsSize {
    height: 300px;
}

.feed_OneNews {
    display: grid;
    grid-template-rows: 30fr 25fr;
    margin: 5px;
    height: 100%;
}

.feed_Picture {

}
.feed_StatAndTextSize {
    display: inherit;

}

.feed_StatAndText {
    margin: 10px 0 10px 0;
    display: inherit;
    grid-template-columns: 2fr 8fr;
}

.feed_Stat {
    display: inherit;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr ;
    grid-template-columns: 80%;

}

.feed_OneStat {

}

.feed_ReadMore {

}

.feed_Text {
    display: inherit;
    grid-template-rows: 2fr 8fr ;
}

.feed_HeaderText {

}

.feed_TextTriwial {

}


.feed_other {
    margin: 0;
    background-color: rgba(0,0,0,1);
}
